
body{
    min-width: 100%;
    margin: 0 auto;
    background-color: #222222;
    color: #e7eef0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header{
        background-color: #132c40;
}
nav{
    display: flex;
    justify-content:  space-between;
    margin: 0px 70px;
    /* flex-wrap: nowrap; */
}
.header-list{
    list-style-type: none;
}
.header-list{
    margin: 2px;
}
.header-list li{
    margin-top: 15px;
    display: inline-block;
}
.header-list a{
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 24px 12px;   
}
.header-list a:hover{
    color: lightskyblue;
}

.hero{
    height: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(./img/galaxia3.jpg);
    background-size: cover;
    color: white;
}
.hero h1{
    font-size: 100px;
    margin: 50px 0 20px 0;
    position: relative;
}

.hero h1 ::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./img/galaxia3.jpg);
    border-left: 2px solid white;
    animation: typing 2s steps(20) forwards;
}



@keyframes typing {
    0%{
        background-image: url(./img/galaxia3.jpg);
    }
    100% {
        left: 100%;
        margin: 0 -35px 0 35px;
        
    }
    
}


@keyframes fade-in {
    0%{
        opacity: 0;
    }    
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.header-list h1 ::before{
    font-size: 100px;
    margin: 50px 0 20px 0;
    position: relative;
}
.hero p{
    animation: fade-in 4s;
    
}

.section-title{
    font-size: 40px;
    margin: 40px auto;
}
.sobre-mi-texto{
    display: flex;
    align-items: center;
    margin: 0 30px;
}

.sobre-mi img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 30px;
}
.sobre-mi p{
    font-size: 20px;
}
.section-nohero{
    width: 1050px;
    margin: 0 auto;
    color: #333333;
}

.proyecto-titulo, .proyecto-descripcion, .proyecto-fecha, .proyecto-boton{
    margin: 10px 23px;
}
.proyecto-titulo, .proyecto-descripcion{
    height: 82px;
}
.proyecto-container, .tecnologia-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 50px 0;
}
.proyectos-descripcion, .tecnologias-descripcion{
    font-size: 25px;
}
.proyecto img, .tecnologia img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.proyecto{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 285px;
    margin: 0 4px;
}



.tecnologia{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    width: 300px;
    margin: 0 5px;
}

.tecnologia-titulo{
    margin: 10px 23px;
}



.cuestionario{
    margin: 20px 135px 40px 135px;
    display: flex;
    flex-direction: column;
}
.cuestionario lavel, .cuestionario input{
    margin: 8px 0;
    font-size: 22px;
    width: 350px;
    padding: 8px;
}
#enviar{
    width: 150px;
    padding:  5px;
    
} 
.formulario-titulo{
    font-size: 22px;
    width: 740px;
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0;
    padding: 8px;
  }

#form-text{
    height:200px;
}

.nav-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    color: white;
}
footer{
    
    background-color: #132c40;
}
.social-titulo{
    margin: 0;
}
.footer-list{
    list-style-type: none;
    margin:0
}
.footer-list li{
    display: inline-block;
}

img{
    width: 65px;
    height: 65px;
}